In [4]:
clusters=[4,5,6,7]
embeddings = ["emb1","emb2"]
names = ["namme1" , "name2"]
apellidp=["ap1","ap2"]
for emb,name,app in zip(embeddings,names,apellidp):
    for k in clusters:
        print(f"{emb} - {name} - {k} - {app}")

emb1 - namme1 - 4 - ap1
emb1 - namme1 - 5 - ap1
emb1 - namme1 - 6 - ap1
emb1 - namme1 - 7 - ap1
emb2 - name2 - 4 - ap2
emb2 - name2 - 5 - ap2
emb2 - name2 - 6 - ap2
emb2 - name2 - 7 - ap2

In [2]:
import duckdb 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
import joblib

from src.constr_lista_cols import contruccion_cols
from src.feature_engineering import feature_engineering_lag , feature_engineering_delta ,feature_engineering_ratio,feature_engineering_linreg

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb

In [4]:
data_path = "data/"
data_file = "competencia_01.csv"
df= pd.read_csv(data_path + data_file)

C:\Users\chris\AppData\Local\Temp\ipykernel_30856\4193464990.py:3: DtypeWarning: Columns (154) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(data_path + data_file)

In [5]:
df.columns

Index(['numero_de_cliente', 'foto_mes', 'active_quarter', 'cliente_vip',
       'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad',
       'mrentabilidad_annual', 'mcomisiones',
       ...
       'Visa_fultimo_cierre', 'Visa_mpagado', 'Visa_mpagospesos',
       'Visa_mpagosdolares', 'Visa_fechaalta', 'Visa_mconsumototal',
       'Visa_cconsumos', 'Visa_cadelantosefectivo', 'Visa_mpagominimo',
       'clase_ternaria'],
      dtype='object', length=155)

In [3]:
columnas = contruccion_cols(df)

0 48 45 42 20
155

In [5]:
len(columnas[3])

150

In [7]:
lista=[1,2,3,4,5]

In [3]:
import joblib
model=joblib.load("outputs/model_rf/rf_model__sampleado_2025-09-19_13-58-25_2025-09-19 13_58_50.sav")

1

In [5]:
import pandas as pd
cluster=pd.read_csv("outputs/segmentacion/model_1_sample_cluster_5.csv")
cluster_distr=pd.read_csv("outputs/segmentacion/model_1_sample_cluster_distribution_5.csv")

In [6]:
cluster

      Unnamed: 0  cluster  original_class
0          10329        1               0
1          10512        2               0
2          10756        1               0
3          10874        1               0
4          10889        0               1
...          ...      ...             ...
3080      891956        3               0
3081      892039        3               0
3082      892109        1               1
3083      892157        4               1
3084      892298        3               0

[3085 rows x 3 columns]

In [9]:
cluster_distr[1]

KeyError: 1

In [12]:
cluster_distr[["0","1"]]

     0    1
0   20  461
1  340  393
2  107  600
3  523  113
4   10  518

In [14]:
cluster_distr[["0","1"]].sum(axis=1)

0    481
1    733
2    707
3    636
4    528
dtype: int64

In [15]:
cluster_distr["ratio"]=cluster_distr["1"] / cluster_distr[["0","1"]].sum(axis=1)
cluster_distr

   cluster    0    1  average_prob_baja     ratio
0        0   20  461           0.937307  0.958420
1        1  340  393           0.539085  0.536153
2        2  107  600           0.774863  0.848656
3        3  523  113           0.290106  0.177673
4        4   10  518           0.959414  0.981061